{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Написать сообщение{% endblock title %}

{% block content %}
<form action="{% url 'guest_post_create' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-dark">Отправить</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}