{% extends 'base.html' %}

{% block title %}Удалить комментарий?{% endblock title %}

{% block content %}
{% csrf_token %}
<form method="POST">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Удалить комментарий?</legend>
    <span>Это действие приведёт к безвозвратному удалению.</span>
  </fieldset>
  <button class="btn btn-danger" type="submit">Да</button>
  <a class="btn btn-secondary" href="{% url 'guest_room' %}">Отменить</a>
</form>
{% endblock content %}