{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Гостевая книга{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-muted collapsed" type="button" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chat-square-text" viewBox="0 0 16 16">
            <path
              d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path
              d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
          </svg>
          <b>Оставить сообщение</b>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <form action="{% url 'guest_post_create' %}" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-outline-dark">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>

{% for post in guestpost_list%}
<b class="mr-3">{{ post.anonymous_username }}</b>
<small class="text-muted">{{ post.created|date:"d M Y" }}</small>
<br>
{{ post.text }}
<br>
{% if user.is_authenticated and user.is_superuser %}
<a href="{% url 'guest_post_delete' post.pk %}" class="mr-2">Удалить</a>
<a href="{% url 'guest_post_update' post.pk %}" class="mr-2">Изменить</a>
{% if not post.guestcomment %}
<a href="{{ post.get_absolute_url }}">Ответить</a>
{% endif %}
{% endif %}
<br>

{% if post.guestcomment %}
<div class="container">
  <div class="row mt-1">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-11 bg-light rounded">
      <b class="mr-3 text-info">{{ post.guestcomment.username }}</b>
      <small class="text-muted">{{ post.guestcomment.created|date:"d M Y" }}</small>
      <br>
      {{ post.guestcomment.text }}
      <br>
      {% if user.is_authenticated and user.is_superuser %}
      <a href="{% url 'guest_comment_delete' post.guestcomment.pk %}" class="mr-2">Удалить</a>
      <a href="{% url 'guest_comment_update' post.guestcomment.pk %}" class="mr-2">Изменить</a>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
<hr>
{% endfor %}

{% include 'pagination.html' %}
<br>
{% endblock content %}