{% extends 'base.html' %}
{% load get_random_posts_tag %}

{% block description %}{{ post.description_tag }}{% endblock description %}
{% block title %}{{ post.title }}{%endblock title%}

{% block content %}
<h1 class="custom-font">{{ post.title }}</h1>
<div class="text-muted">
  {{ post.created|date:"d M Y" }}
  {% if user.is_authenticated and user.is_superuser %}
  <a class="btn btn-outline-dark btn-sm float-right" href="{% url 'admin:posts_post_change' post.pk %}">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
    </svg>
  </a>
  {% endif %}
</div>

<br>
{% if post.poster %}
<img alt="" class="poster-img rounded mb-3" src="{{ post.poster.url }}">
{% endif %}
<div>
  {{ post.text|safe }}
</div>
<hr>
{% if tag_list %}
<div class="row">
  <div class="col">
    <span class="text-muted">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags-fill"
        viewBox="0 0 16 16">
        <path
          d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
        <path
          d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z" />
      </svg>
    </span>
    {% for tag in tag_list %}
    <a href="{{ tag.get_absolute_url }}"><small class="text-muted mx-2">[{{ tag }}]</small></a>
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="row mt-5">
  <div class="col">
    {% show_random_recommended_posts post.pk %}
  </div>
</div>

{% endblock content %}