/*makes footer sticky*/
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

/*makes images and embed videos responsive*/
  iframe {
    width:100%;
    height:auto;
  }
  .tiny-img {
    width:100%;
    height:auto;
  }

.custom-font {
  font-family: 'Oswald', sans-serif;
}