{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- custom google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
  <!-- end custom google font -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <div class="content">
    <nav>
      <div class="container">
        <div class="row justify-content-center mt-lg-4 mb-4 mb-lg-5">
          <div class="col-lg-8 custom-font">

            <div class="container">
              <div class="row">
                <div class="col px-0">
                  <div class="d-flex justify-content-lg-start">
                    <a class="text-muted" href="/">
                      <h3>@YuriyCherniy</h3>
                    </a>
                  </div>
                </div>
                <div class="col px-0">
                  <div class="d-flex justify-content-lg-end">
                    <a class="text-muted mx-lg-3" href="{% url 'guest_room' %}">
                      <h4>гостевая</h4>
                    </a>
                    <a class="text-muted ml-3" href="{% url 'about' %}">
                      <h4>о блоге</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock content %}
  </div>


  <footer class="footer mt-2">
    <hr>
    <div class="container my-2">
      <div class="d-sm-flex justify-content-between">

        <div class="footer-left">
          <small>Copyright © 2021 linky.su</small>
        </div>

        <div class="footer-right">
          <small>Contact: info@linky.su</small>
        </div>

      </div>
    </div>
  </footer>
</body>

</html>