{% load remove_special_char_from_post_preview %}

{% for post in post_list %}
<a class="text-dark" href="{{ post.get_absolute_url }}">
  <h3 class="custom-font">{{ post.title }}</h3>
</a>
<div class="text-muted">{{ post.created|date:"d M Y" }}</div>
<br>
{% if post.poster %}
<img class="poster-img rounded mb-3" src="{{ post.poster.url }}" alt="{{ post.poster_description }}">
{% endif %}
<div class="text-justify mb-5">{{ post.text|truncatewords:60|striptags|remove_special_char }} <b><a class="text-dark"
      href="{{ post.get_absolute_url }}">читать
      далее</a></b>
</div>
<br>
{% endfor %}
{% include 'pagination.html' %}